body {
    font-weight: 300;
    font-size: 13px;
    font-family: "Averta", "Helvetica Neue", Helvetica, Arial;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background-color: #fff;
    margin-bottom: -6px;
    overflow: hidden;
    width: 100%;
    position: fixed;
    z-index: 10000;
}

.logo {
    height: 10vh;
    width: 185px;
    margin-bottom: -20px;
    margin-top: -15px;
    margin-left: 12px;
    overflow: hidden;
}

.logo-home-link {
    overflow: hidden;
    background-color: transparent
}

.nav-bar-links {
    list-style-type: none;
    padding-left: 319px;
    width: 74%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: -153px;
}

li {
    font-family: Averta 200;
    font-weight: 500;
    padding: 10px 15px;
    color: #0e253f;
    text-transform: uppercase;
    font-size: 13px;
}

li:hover {
    background-color: #EEEEEE;
    color: #0e253f;
    /* opacity: 0.5; */
}

ul li:hover:after {
    box-sizing: inherit;
    position: relative;
    display: block;
    padding-bottom: 8px;
    width: 98%;
    content: ' ';
    overflow: hidden;
    border-bottom: 2px dotted #173C63;
}

.action-buttons {
    padding-right: 40px;
}

a {
    color: #175E94;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
}

.login-button {
    color: #0091ea;
    background: #fff;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 390;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    margin-left: 24px;
    margin-right: -18px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 2px;
}

.login-button:hover {
    color: black;
}

.signup-button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 200;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    margin-left: 20px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 2px;
    color: #fff;
    background-color: #0091ea;
    border-color: #0091ea;
    text-align: center;
}

.signup-button:hover {
    background-color: #0081d1;
    border-color: #0081d1;
}


/* End of Header */


/* Home Hero section================================= */

.home-hero {
    background: linear-gradient(to right, #37A7EA 0, #A6ECEE 100%);
    height: 721px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 189px;
    border-color: black;
}

.hero-inner {
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    padding: 0;
    margin-bottom: 56px;
    color: #fff;
}

.hero-title .big-text {
    font-size: 64px;
    line-height: 70px;
    margin: 0 0 20px 0;
    color: #fff;
    padding-top: 53px;
    padding-left: 189px;
    max-width: 95%;
    margin-right: 651px;
    font-weight: 700px;
}

.home-hero .hero-title:after {
    content: '';
    position: absolute;
    left: 0;
    height: 0;
    width: 25%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: solid 5px #FEC52E;
}

.hero-content {
    padding-top: 34px;
    padding-left: 189px;
    margin-right: 651px;
    font-size: 16px;
    line-height: 22px;
    height: 50vh;
}

p {
    padding-bottom: 15px;
    font-weight: 300px;
}

.btn-trans {
    background: 0 0;
    color: #fff;
    border-radius: 4px;
    border-width: 2px;
    border-color: #fff;
    font-size: 1rem;
    font-weight: 700;
    padding: 12px 32px;
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 2px solid;
    white-space: nowrap;
    text-transform: uppercase;
    line-height: 1.428571429;
}

.btn-trans:hover {
    background-color: #37A7EA;
}


/* Second Section ============================= */

.section2 {
    height: 680px;
    background: linear-gradient(to right, #F2F9FE 0, #B9E0F8 100%);
    background-image: linear-gradient(to right, rgb(242, 249, 254) 0px, rgb(185, 224, 248) 100%);
    min-height: 680px;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

.laptop {
    width: 50%;
    display: block;
}

.laptop .macbook {
    left: -12%;
    position: relative;
    max-width: 100%;
    max-height: 575px;
    padding-top: 94px
}

.more-content {
    max-width: 50%;
    float: right;
    padding: 0;
    overflow: hidden;
    margin-top: -382px;
}

h1 {
    font-size: 64px;
    line-height: 66px;
    color: #074684;
    font-weight: 800;
    padding: 0 16px 32px;
    text-align: left;
}

blockquote {
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    color: #2d3238;
    border-left: 5px solid #eee;
    margin-bottom: 20px;
    line-height: 33px;
}

.section2 blockquote {
    border-color: #f05171;
    padding: 0 20px;
    border-width: 8px;
    color: #2D3238;
    font-style: italic;
    text-align: left;
}

.section2 .btn-primary {
    margin-top: 20px;
    margin-left: 350px;
}

.btn-primary {
    font-size: 20px;
    padding: 12px 46px;
    font-weight: 700;
    background-color: #1891EA!important;
    border-color: #1891EA;
    color: #fff;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 29px;
    border: 1px solid transparent;
    touch-action: manipulation;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    border-radius: 5px;
}


/* Third Section =========================== */

.section3 {
    height: 893px;
    width: 100%;
    font-weight: bold;
    padding-top: 110px;
}

.lgtext {
    text-align: center;
    font-size: 64px;
    line-height: 70px;
    color: #014486;
}

.desc-text {
    max-width: 800px;
    font-weight: 300;
    font-style: italic;
    line-height: 37px;
    color: #2d3238;
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 233px;
}

.desc-text a {
    text-decoration: none;
    color: #0091EA;
    font-size: 24px;
    font-style: italic;
    text-transform: lowercase;
}

.forty-one {
    width: 100%;
    margin-right: 20px;
}

.bank-loan {
    margin-left: 545px;
    margin-top: -231px;
}

.bank-loan p {
    font-size: 32px;
    line-height: 40px;
    color: #96999C;
    font-weight: 800;
    font-style: normal;
}

.graph {
    margin-left: 223px;
}


/* Fourth Section ============================= */

.section4 {
    overflow: hidden;
    background-color: #F4F9FC;
}

.phone-pic {
    padding-right: 85px;
    float: right;
    margin-top: -325px;
}

.left-side-box {
    z-index: 1000;
    height: 225px;
    width: 385px;
    margin-left: 300px;
    margin-top: 200px;
}

.funding-text-lg h1{
    color: #2D3238;
}
.def-text blockquote {
    border-color: #f05171;
    padding: 0 20px;
    border-width: 8px;
    color: #2D3238;
    font-style: italic;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}
.last-small-text{
    font-size: 16px;
    line-height: 20px;
    font-weight: 800;
    color:#014486;
    font-style: normal;
    width: 244px;
}
.link-discover-options{
    margin-left: 114px;
}
.link-discover-options .btn-primary{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    font-size: 13px;
    padding: 4px 24px;
    padding-left: 20px;
    border-radius: 2px;
}

/* Fifth Section ======================== */
container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section5{
    display: inline-block;
    position: relative;
    min-height: 547px;
    background-color: #fff;
    z-index: 500;
    border-radius: 8px;
    box-shadow: 3px 4px 8px 0 rgba(7,70,132,.15);
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin: 50px 16px 0;
    box-sizing: inherit;
}