body {
    font-weight: 300;
    font-size: 13px;
    font-family: "Averta", "Helvetica Neue", Helvetica, Arial;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background-color: #fff;
    margin-bottom: -6px;
    overflow: hidden;

}

.logo{
    height: 10vh;
    width: 185px;
    margin-bottom:-20px;
    margin-top:-15px;
    margin-left: 12px;
    overflow: hidden;
    
}

.logo-home-link{
    overflow: hidden;
    background-color: transparent
    
    
    
}

.nav-bar-links {
    list-style-type: none;
    padding-left: 319px;
    width: 74%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: -153px;
}

li {
    font-family: Averta 200;
    font-weight: 500;
    padding: 10px 15px;
    color:  #0e253f;
    text-transform: uppercase;
    font-size: 13px;
    
}

li:hover {
    background-color: #EEEEEE;
    color: #0e253f;
    /* opacity: 0.5; */
}
ul li:hover:after{
    box-sizing: inherit;
    position: relative;
    display: block;
    padding-bottom: 8px;
    width: 98%;
    content: ' ';
    overflow: hidden;
    border-bottom: 2px dotted #173C63;
}

.action-buttons {
    padding-right: 40px;
}

a {
    color: #175E94;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
}

.login-button {
    color: #0091ea;
    background: #fff;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 390;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    margin-left: 24px;
    margin-right: -18px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 2px;
}

.login-button:hover {
    color:black;
}

.signup-button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 200;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    margin-left: 20px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 2px;
    color: #fff;
    background-color: #0091ea;
    border-color: #0091ea;
    text-align: center;
}

.signup-button:hover {
    background-color: #0081d1;
    border-color: #0081d1;
}
/* End of Header */

/* Home Hero section================================= */
.home-hero{
    background: linear-gradient(to right,#37A7EA 0,#A6ECEE 100%); 
    height: 621px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 189px;
    border-color: black;
  
}
.hero-inner{
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    padding: 0;
    margin-bottom: 56px;
    color: #fff;
}
.hero-title .big-text{
    font-size: 64px;
    line-height: 70px;
    margin: 0 0 20px 0;
    color: #fff;
    padding-top:53px;
    padding-left: 189px;
    max-width: 95%;
    margin-right: 651px;
    font-weight: 700px;
    
}
.home-hero .hero-title:after {
    content: '';
    position: absolute;
    left: 0;
    height: 0;
    width: 25%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: solid 5px #FEC52E;
}

.hero-content{
    padding-top: 34px;
    padding-left: 189px;
    margin-right: 651px;
    font-size: 16px;
    line-height: 22px;
    height: 50vh;

}
p{
    padding-bottom: 15px;
    font-weight: 300px;
}

.btn-trans{
    background: 0 0;
    color: #fff;
    border-radius: 4px;
    border-width: 2px;
    border-color: #fff;
    font-size: 1rem;
    font-weight: 700;
     padding: 12px 32px;
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 2px solid;
    white-space: nowrap;
    text-transform: uppercase;
    line-height: 1.428571429;
    
}
.btn-trans:hover{
    background-color: #37A7EA;
}
